{% extends 'base.html' %}
{% load static %}

{% block localCss %}
<link rel="stylesheet" href="{% static 'css/create.css' %}">
{% endblock %}

{% block body %}
<div class="container">
<h1 class="text-center p-4">ChartPlot Create</h1>
<div>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.entry.errors }}
        <label for="name"><b>ChartPlot Name</b></label>
        {{ form.name }}
        <label for="entry"><b>Events</b></label>
        {{ form.entry }}
        <br>
        <button type="submit" class="btn btn-primary">Generate</button>
        {% if form.errors %}
        <a class="btn btn-warning" href="{% url 'ChartPlot:tutorial' %}">How to create a ChartPlot</a>
        {% endif %}
    </form>
</div>
</div>
{% endblock %}
