{% extends 'base.html' %}
{% load static %}

{% block localCss %}
<link rel="stylesheet" href="{% static 'css/create.css' %}">
{% endblock %}

{% block body %}
<div class="container">
<h1 class="text-center p-4">ChartPlot Edit</h1>
<div>
    <form action="" method="post">
        {% csrf_token %}
        {{ form.entry.errors }}
        <label for="name"><b>ChartPlot Name</b></label>
        {{ form.name }}
        <label for="entry"><b>Events</b></label>
        {{ form.entry }}
        <br>
        <button type="submit" class="btn btn-success text-center">Apply Edit</button>
    </form>
</div>
</div>
{% endblock %}
