{% extends 'base.html' %}
{% load static %}

{% block localCss %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block body %}
{% if request.GET.newChartPlot == '1' %}
<div class="alert alert-success" role="alert">
    <b>ChartPlot created successfully.</b>
</div>
{% endif %}
{% if request.GET.chartPlotDeleted == '1' %}
<div class="alert alert-success" role="alert">
    <b>ChartPlot deleted successfully.</b>
</div>
{% endif %}
{% if request.GET.invalidChartPlot == '1' %}
<div class="alert alert-danger" role="alert">
    <b>This ChartPlot does not belong to you.</b>
</div>
{% endif %}
{% if request.GET.objectDoesNotExists == '1' %}
<div class="alert alert-danger" role="alert">
    <b>This ChartPlot does not exists.</b>
</div>
{% endif %}
<div class="container">
<h1 class="text-center p-5">All your charts.</h1>
{% if chartplots %}
<table class="table table-hover">
      <a href="{% url 'ChartPlot:create' %}"><button class="btn btn-success mb-1">New ChartPlot</button></a>

      <thead class="table-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Date Created</th>
          <th scope="col">Info</th>
        </tr>
      </thead>
      <tbody>
        {% for chart in chartplots %}
        <tr>
          <th scope="row">{{ chart.id }}</th>
          <td>{{ chart.name }}</td>
          <td>{{ chart.date_created }}</td>
          <td>
              <a href="{% url 'ChartPlot:detail' chart.id %}" class="option"><img src="{% static 'img/info.png' %}"></a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% else %}
    <div id="warning">
        <p class="text-center p-5">You have no chart. <a href="{% url 'ChartPlot:create' %}">Create</a> one now!.</p>
    </div>
{% endif %}
</div>
{% endblock %}