{% extends 'base.html' %}
{% load static %}

{% block localCss %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}
{% block body %}
<div class="container">
<h1 class="text-center p-5">All your charts.</h1>
{% if chartplots %}
<p><a href="{% url 'ChartPlot:create' %}">Novo </a></p>
    <ul>    
    {% for chartplot in chartplots %}
        <li><a href="{% url 'ChartPlot:detail' chartplot.id %}">{{ chartplot.name }}</a></li>    
    {% endfor %}
    </ul>
{% else %}
    <div id="warning">
        <p class="text-center p-5">You have no chart. <a href="{% url 'ChartPlot:create' %}">Create</a> one now!.</p>
    </div>
{% endif %}
</div>
{% endblock %}